

<div class="container-section">
    <h2 class="info-sections">Наши услуги</h2>
    <div class="card-container">
        <div class="arrow left">&#10094;</div>

        <div class="card-wrapper">
            <div class="card">
                <img src="~/Новая папка4/" alt="card 1" />

                <h3> Инд тур</h3>
                <p>
                    мы разраб уникальные маршр
                </p>
            </div>


            <div class="card">
                <img src="~/Новая папка4/" alt="card 1" />

                <h3> Инд тур</h3>
                <p>
                    мы разраб уникальные маршр
                </p>
            </div>


            <div class="card">
                <img src="~/Новая папка4/" alt="card 1" />

                <h3> Инд тур</h3>
                <p>
                    мы разраб уникальные маршр
                </p>
            </div>


            <div class="card">
                <img src="~/Новая папка4/" alt="card 1" />

                <h3> Инд тур</h3>
                <p>
                    мы разраб уникальные маршр
                </p>
            </div>


            <div class="card">
                <img src="~/Новая папка4/" alt="card 1" />

                <h3> Инд тур</h3>
                <p>
                    мы разраб уникальные маршр
                </p>
            </div>


            <div class="card">
                <img src="~/Новая папка4/" alt="card 1" />

                <h3> Инд тур</h3>
                <p>
                    мы разраб уникальные маршр
                </p>
            </div>
     
        </div>
        <div class="arrow right">&#10095;</div>
    </div>
</div>



